.dark-theme {
    background-color: #333;
    color: orange;
}

#quote-header {
    color: orange;
    font-size: 24px;
    margin-bottom: 10px;
}

.italic {
  font-style: italic;
}

.link-cadetblue {
  text-decoration: none;
  color: cadetblue;
}